<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restrurantmanagementsystem"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For image upload -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestrurantManagementSystem">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".chef.ChefDashboard" />
        <activity android:name=".manager.ManagerDashboard" />
        <activity android:name=".waiter.WaiterDashboard" />

        <activity
            android:name=".manager.menu.MenuManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".manager.menu.AddEditMenuItemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".manager.menu.CategoryManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>